*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  color: white !important;
  filter: invert(3);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: You can adjust margins as needed */
}
.footer-link {
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.animatedElement:hover>.footer-link {
  color:#00FF99;
  transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
/* Container for the button to center it or add spacing if needed */



